.logo {
    display: block;
    font-size: 20px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.header__btns {
    width: 160px;
    margin: 0;
}
.header__btn {
    margin-top: 0;
} 
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 60px;
}
.section__meet ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    width: 500px;
}
.section__meet li {
    display: inline-block;
}
.section-meet__title {
    margin-bottom: 40px;
}