.slider {
    background-image: url(../img/bg-img-05.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 200px 0;
}

.gallery {
    font-size: 0;
    width: 1020px;
    margin: auto;
}

.gallery-item {
    margin-right: 20px;
    transition: 1s;
}

.gallery-item:hover {
    transform: scale(1.1, 1.1) rotate(15deg);
}

.gallery-item:last-child {
    margin-right: 0;
}